.light-mode {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
}

.dark-mode {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.hamburger-icon {
  cursor: pointer;
}


